<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>FastVector</title>
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

  <style>

  </style>
</head>

<body>

  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="">FastVector</a>
    </div>      
  </nav>
  <section class="text-center">
    <h3>A lightweight vector tile api built on top of FastAPI.</h3>
    <table class="table table-striped pt-5">
      <thead>
        Vector Tile Endpoints
      </thead>
      <tbody>
        {%for table in tables %}
          <tr>          
            <td>{{table.name}}</td>          
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</body>

</html>